$anti-flash-white: #eaeff4;
$granite-gray: #686963;
$outer-space: #474647;
$june-bud: #bcde5f;

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $anti-flash-white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: auto;
  width: 70%;

  form {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
}

.navbar {
  font-size: 18px;
  background: white;
  padding: 10px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5;

  a {
    text-decoration: none;
    padding: 10px;
    color: $granite-gray;
  }
}

.create-post {
  h1 {
    text-align: center;
    padding: 30px 0 30px 0;
  }

  width: 100%;
  margin: 5% 0 0 0;
  padding: 0 0 30px 0;
  color: $granite-gray;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 6px 17px -2px #7b7c75;
  -moz-box-shadow: 2px 6px 17px -2px #7b7c75;
  box-shadow: 2px 6px 17px -2px #7b7c75;

  label {
    font-size: 15px;
  }
}

.post {
  width: 100%;
  margin: 5% 0 5% 0;
  color: $granite-gray;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 6px 17px -2px #7b7c75;
  -moz-box-shadow: 2px 6px 17px -2px #7b7c75;
  box-shadow: 2px 6px 17px -2px #7b7c75;

  h2 {
    text-align: center;
    padding: 30px 0 30px 0;
  }

  .body {
    width: 90%;
    margin: auto;
    color: $outer-space;
    font-size: 17px;
    font-weight: 530;
    font-family: "Roboto", sans-serif;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 30px 0;
  }
}

button {
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  margin: 0 5px 0 5px;
  color: $outer-space;
  background: $june-bud;
  border: none;
  a {
    color: $outer-space;
    text-decoration: none;
  }
}

button:hover {
  color: $granite-gray;
  background: white;
  border: 1px solid $june-bud;
}
